*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(includes/Background.png);
    font-family: sans-serif;
}
.navbar{
    background: #222;
    padding: 5px 20px;
    box-shadow: 10px 0px 15px black;
}
ul {
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
.icon{
    top: 8px;
}
.button2 span{
    float: right;
    line-height: 25px;
}
.button3 span{
    float: right;
    line-height: 25px;
    color: gold;
    padding-left: 5px
}
.navbar li{
    font-size: 16px;
    padding: 25px 30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    position: relative;

}
.navbar li a {
    color: rgb(206, 206, 206);
    display: block;
}
.navbar li a:hover{
    color: white;
}
.logo a{
    font-size: 20px;
}
.button{
    color: white;
}
.button.secondary{
    color: white;
    border-bottom: 1px #444 solid;
}
.item:not(.button):hover{
    color: white;
}
.item:not(.button)::before{
    content:'';
    display: block;
    height: 4px;
    background-color: red;
    position: relative;
    top: 0;
    width: 0%;
    border-radius:200em;
    transition: all ease-in-out 750ms;
}
.item:not(.button):hover::before{
    width: 100%;
}


/* mobile menu*/

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order:1;
}
.item.button{
    order: 2;
}
.item, .icon {
    width: 100%;
    text-align: center;
    order: 4;
    display: none;
}
.item.active{
    display:block;
}
.toggle{
    cursor: pointer;
}
.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}
.bars::before,.bars::after{
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before{
    top:5px;
}
.bars::after{
    top:-5px
}


/* Tablet Menu */

@media all and (min-width:468px){
    .navbar{
        justify-content: center;
    }
    .logo{
        flex:1;
    }
    .item.button{
        width:auto;
        order:1;
        display: block;
    }
    .toggle{
        order:2;
    }
    .button.secondary{
        border:0;
    }
    .button a{
        text-decoration: none;
        padding:7px 15px;
        background: rgb(182, 0, 0);
        border: 1px solid darkred;
        border-radius: 50em;
    }
    .button.secondary a{
        background: transparent;
    }
    .button a:hover{
        color:white;
        transition: all .25s;
    }
    .button:not(.secondary) a:hover{
        background-color: red;
        border-color: rgb(90, 1, 1);
    }
    .button.secondary a:hover{
        color: #ddd;
        background-color: red;
    } 
}



@media all and (min-width:768px){
    .item, .icon{
        display: block;
        width:auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order:0;
    }
    .item, .icon{
        order:1;
    }
    .button{
        order:3;
    }
    .navbar li{
        padding: 15px 10px;
    }
    .navbar li.button{
        padding-right:0;
    }
}

.owl-container {
    position: fixed;
    background-color: #171717;
    width: 100%;
    height: 600px;
    

}
.card {
    position: absolute;
    width: 80%;
}
.item1 {
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: fit-content;
    height: fit-content;
    background-color: #262626;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    padding: 5px 5px;
}
.item1:hover {
    transform: scale(2);
    cursor: pointer;
}
h1 {
    padding-top: 5px;
    text-align: justify;
    margin-top: 30px;
    color: white;
    font-weight: 20;
    font-family: sans-serif;
    text-align: center;
}
.more-soon-button {
    overflow: hidden;
    position:absolute;
    top: 48%;
    margin: 0 0 0 100rem;
    background-color: #171717;
    border: 1px solid red;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    box-shadow: 0px 0px 5px black;
}
.more-soon-button:hover {
    transform: scale(1.1);
    background-color: red;
    cursor: pointer;
}
.owl-carousel {
    float: left;
    width: 100%;
    height: 500px;
    
}
